.addExpenseCard{
  border-radius: 10px;
  padding: 1em;
  max-width: fit-content;
  max-height: fit-content;
  gap: 10px;
  display: grid;
  grid-template-areas:
          'labelName labelCost'
          'inputName inputCost'
          'addButton addButton';
  margin: 10px;
}
.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: fit-content;
  color: white;
  padding: 20px;
}

h1 {
  background-color: deepskyblue;
  box-sizing: border-box;
  min-height: 10vh;
  margin: 0;
  text-align: center;
  padding: 1em;
}
h2 {
  text-align: start;
  margin: 0;
  padding: 1em;
}

button, .addButton {
  border-radius: 5px;
  border: royalblue 1px solid;
  color: white;
  min-height: 4vh;
  min-width: 5vw;
  font-size: 1rem;
  padding: 0px 15px;
  background-color: dodgerblue;
}

p {
  margin: 0;
  font-size: 1rem;
  text-align: center;
}

.labelCost, .labelName{
  font-size: 1rem;
  padding: 8px 0px;
}
.inputName, .inputCost, .inputSearch {
  min-width: min-content;
  min-height: 4vh;
  border-radius: 8px;
  font-size: 1rem;
}
.labelName {
  grid-area: labelName;
}
.labelCost {
  grid-area: labelCost;
}
.inputCost {
  grid-area: inputCost;
}
.inputName {
  grid-area: inputName;
}
.addButton {
  grid-area: addButton;
  justify-self: center;
}
.inputSearch {
  margin: 16px 20vw;
}

.deleteButton {
  background-color: transparent;
  border: none;
  box-shadow: none;
  flex: 1;
}

.spentCard, .remainingCard, .budgetCard {
  min-height: 5vh;
  min-width: 20vw;
  color: black;
  border-radius: 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.budgetCard {
  background-color: lightslategrey;
  gap: 1em;
}
.expenses{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.expense {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border: 1px grey solid;
  margin: 0 20vw;
  border-radius: 5px;
  background-color: whitesmoke;
}

.expenseTitle{
  flex: 8;
  text-align: start;
}

.expenseAmount {
  background-color: dodgerblue;
  padding: 8px;
  flex: 1;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.remainingCard {
  background-color: palegreen;
}

.spentCard {
  background-color: lightskyblue;
}