*,
*::before,
*::after {
  box-sizing: border-box; margin: 0; padding: 0;
}
.App {
  display: flex;
}
.App-bar {
  padding: 20px;
  text-align: center;
}
.App-nav {
  flex: 2;
  background-color: grey;
}
.App-main {
  flex: 8;
  background-color: whitesmoke;
  min-height: 100vh;
}
button {
  background-color: blueviolet;
}

.Customer-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.Table-container {
  padding: 20px;
}
