*,
*::before,
*::after {
  box-sizing: border-box; margin: 0; padding: 0;
}
:root {
  --primary: #7c4dff;
  --warning: red;
  --light-background: #dce0f5;
  --font-family: "Helvetica Neue", serif;
}
body {
  /*TODO: Web safe font*/
  font-family: var(--font-family);
}

.App {
  display: flex;
}

.App-bar {
  padding: 20px;
  text-align: center;
  background-color:var(--primary);
  color: white;
}

.App-nav {
  flex: 2;
  position: sticky;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-right: lightgrey 1px solid;
}

.App-main {
  flex: 8;
  background-color: var(--light-background);
  min-height: 90vh;
}

button {
  display: flex;
  align-items: center;
  border: none;
  font-size: 1rem;
}

.Nav-button {
  background-color: whitesmoke;
  padding: 20px 20px;
  justify-content: flex-start;
}

.Nav-button:focus {
  background-color: var(--light-background);
  color: var(--primary);
  transition: .2s ease-in;
  border-left: var(--primary) 3px solid;
}

.App-button, input[type=submit] {
  background-color: var(--primary);
  font-weight: bold;
  font-size: 1rem;
  border: none;
  color: white;
  padding: 10px 20px;
  justify-content: center;
  border-radius: 5px;
}

.Nav-button p, .App-button p {
  margin-left: 10px;
}

.Listview-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.Modal-bg {
  position: fixed;
  left: 0;
  right: 0;
  /*width: 100vw;*/
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}