.Table-container {
    padding: 20px;
}

table {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    box-shadow: 0 5px 10px lightgrey;
    background-color: whitesmoke;
    border-radius: 20px;
}

thead {
    box-shadow: 0 5px 10px lightgrey;
    background-color: #7c4dff;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

th {
    padding: 20px 20px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    border-bottom: 2px lightgrey solid;
}

td {
    padding: 20px 20px;
}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
}

tr:nth-child(even) {
    background-color: var(--light-background);
}